<!DOCTYPE html>
<html>
    <head>
        <title>Badresh's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Bady Blog</a></h1>
        </header>

        <article>
            <time>published: 26.11.2023, 16:54</time>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to the world of Dhamma!</p>
        </article>

        <article>
            <time>published: 26.11.2023, 16:54</time>
            <h2><a href="">My second post</a></h2>
            <p>(Most) Welcome to the world of Dhamma!</p>
        </article>
        
        <p>Hi there Badresh!</p>
        <p>It works!</p>
    </body>
</html>